<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.view'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header.view'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Register</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer.view'); %>
</footer>

</body>
</html>